#app {
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .title {
        font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
        height: 63px;
        line-height: 63px;
        color: #fff;
        font-size: 36px;
        text-align: center;
    }
}